*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.boxed{
    width: 60%;
    margin: auto;
}

p{
    font-size: 18px;
}

h2{
    font-size: 30px;
    line-height: 1.4em;
}

span, p{
    color: #5c656f;
    line-height: 1.5em;
}

h4{
    line-height: 1.3em;
    font-size: 20px;
}

/*heaader*/
header{
    padding-bottom: 100px;
}
.header_container{
    width: 100%;
    background-color: white;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 6px 0px #454545;
    -moz-box-shadow: 0px 3px 6px 0px #454545;
    -o-box-shadow: 0px 3px 6px 0px #454545;
    box-shadow: 0px 3px 6px 0px #454545;
    position: fixed;
    z-index: 2;
}

.left_head{
    align-items: center;
}

header button{
    padding: 5px 10px;
    background-color: #0061ff;
    color: white;
    border: none;
    cursor: pointer;
}

header button:hover{
    padding: 5px 10px;
    background-color: #0047b9;
    color: white;
    border: none;
    cursor: pointer;
}
 

header a{
    color: #686868;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 10px;
}

header a:hover{
    color: #222222;
    text-decoration: none;
    margin-left: 20px;
}

/*main first section*/

.box_titol{
    background-color: #b4d0e7;
    width: 100%;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    max-height: 650px;
    
    
}

h1{
    font-size: 60px;
    margin-left: 75px;
    line-height: 1.2em;
    margin-top: 0.5em;
}

.first_container{
    width: 100%;
    padding: 30px 80px;
    margin-top: 1em;
}


.box_titol_left{
    width: calc(100% / 3 * 1);
    height: 300px;
    padding: 5px;
}

.box_titol_right{
    width: calc(100% / 3 * 2);
}

.box_titol_right img{
    width: 110%;
}

.box_titol button{
    margin-top: 20px;
}

#margin_20{
    margin-top: 30px;
}


.box_titol i{
    font-size: 50px;
    margin-top: 30px;
}

.box_titol button{
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
}

.box_titol button:hover{
    padding: 10px 20px;
    background-color: #0047b9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;

}

.box_titol a{
    color: black;
}

.box_titol a:hover{
    color: #686868;
}
 
/*main second section*/
.box_plan h2{
    margin-bottom: 40px ;
}

.box_plan label{
    font-size: 18px;
    margin-right: 30px;
}
.box_plan{
    margin-top: 200px;
}

.plan{
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.left_plan, .center_plan, .right_plan{
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

.left_plan_padding{
    padding: 20px;
    padding-bottom: 100px;
}
    

.titol_plan {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;

}

small{
    color: gray;
}

span strong{
    color: black;
}

.professional{
    line-height: 2em;
    margin-top: 30px;
}

.giga i{
    margin-top: 20px;
}

.left_plan button{
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.left_plan button:hover{
    padding: 10px 20px;
    background-color: #0047b9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 30px;
}

.left_plan_padding a{
    color: blue;
}
.punti_salienti{
    margin-top: 30px;
}
.punti_salienti i{
    margin-top: 20px;
    color: #0047b9;
}


.enterprice{
    border: 1px solid black;
    width: 100%;
    margin-top: 30px;
}

.box_enterprice{
    width: 100%;
}

.left_enterprice{
    width: 70%;
    height: 200px;
    border-top: 1px solid black;
    padding-left: 30px;
    flex-direction: column;
    justify-content: space-around;
}

.right_enterprice{
    width: 30%;
    height: 200px;
    border-top: 1px solid black;
    justify-content: center;
    align-items: flex-start;
}

.enterprice_titol{
    padding: 10px;
    text-align: center;

}

.box_enterprice h3{
   margin-top: 20px;
}

.right_enterprice button{
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;

}

.right_enterprice button:hover{
    padding: 10px 20px;
    background-color: #0047b9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;  

}

/*main third section*/

.dopbox_partner{
    margin-top: 100px;
    height: 400px;
}

.dopbox_partner img{
    width: 100%;
}

.dopbox_partner_left{
    width: 60%;
    height: 100%;
}

.dopbox_partner_right{
    width: 40%;
    height: 50%;
    margin: 40px 0px 0px 40px;
}

.dopbox_partner_right h3{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5em;
}

.dopbox_partner_right button{
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    color: gray;
    margin-top: 20px;
    cursor: pointer;
}

/*main fourth section*/

.box_operation{
    margin-top: 100px;
    height: 800px;
}

.box_operation_under{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.operation{
    width: calc(100% / 3 - 20px);
    height: 45%;
    margin-right: 10px;
}

.operation_image{
    justify-content: center;
    height: 50%;
}

.operation_image img{
    height: 100%;
}

.operation h4{
    margin-bottom: 20px;
}

.operation span{
    font-size: 12px;
}

/*main fifth section*/

.info_box{
    margin-top: 150px;
    height: 200px;
}

.info_box div{
    color: blue;
    margin-top: 50px;
    font-size: 14px;
}

/*main sixth section*/

.square_container{
    width: 100%;
    height: calc(100vw / 3);
}

.square{
    width: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
    z-index: 1;
    overflow-y: auto;
}


.square_image{
    width: 50%;
    height: 50%;
    position: relative;
}


.square_image img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.square_logo{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square_logo_1{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
} 

.square_logo_2{
    background-color: #61082b;
}

.square_logo_3{
    background-color: #0093ce;
}

.square_logo_4{
    background-color: #ff1c1c;
}

.square_logo_5{
    background-color: #d5001f;
} 

.square_logo_6{
    background-color: #b4d0e7;
}

.square_logo_7{
    background-color: #0d2481;
}

.square_logo_8{
    background-color: #ffd830;
}

.center img{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.square p{
    margin-bottom: 30px;
    margin-top: 30px;

}

.square_center{
    padding: 0px 30px 0px 30px;
}



/*main seventh section*/
.backcolor{
    background-color: #b4d0e7;

}

.free_trial{
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.free_trial button{
    padding: 10px 40px;
    background-color: white;
    color: gray;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

.free_trial h2{
    color:#61082b;
}

/*main eighth section*/

.faq_box{
    margin-top: 150px;
    line-height: 4em;
}

.faq{
    padding: 10px 0px;
    border-bottom: 1px solid black;
    
}

.faq_box h2{
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.faq_box span{
    font-size: 16px;
    color: #222222;
}

.faq i{
    margin-left: 200px;
}

.faq p{
    display: none;
}

.faq:hover p{
    display: block;
    font-size: 15px;

}

.faq:hover i{
    transform: rotate(180deg);
}

/*footer*/

footer{
    background-color: black;
}

.footer_box{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.footer_info_box{
    width: 80%;
    justify-content: space-around;
}

.footer_info{
    width: calc(100% / 5);
    border: 1px solid black;
}


.lang{
    width: 80%;
    margin-left: 140px;
}

.lang_box{
    width: 10%;
    margin-bottom: 40px;
    border-top: 0.1px solid white;
    padding-top: 20px;
}

.footer_info p{
    color: white;
    font-size: 12px;
    line-height: 2em;
    cursor: pointer;
}

.footer_info h4{
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.lang_box i, .lang_box span{
    color: #5c656f;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;

}

.lang_box:hover i, .lang_box:hover span{
    color: white;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;

}


